@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    font-size: 3.2em !important;
    line-height: 1.1 !important;
    font-weight: 400 !important;
    text-shadow: 0px 0px 1px #232c44;
    @apply font-sans2;
  }
  h2 {
    font-size: 2.5em !important;
    text-shadow: 0px 0px 1px #232c44;
    @apply font-sans2;
  }
  h3 {
    font-size: 2em !important;
    text-shadow: 0px 0px 1px #232c44;
    @apply font-sans2;
  }
  h4 {
    font-size: 1.25em !important;
    text-shadow: 0px 0px 1px #232c44;
    @apply font-sans2;
  }

  * {
    @apply font-sans;
  }
}

p, h1, h2, h3, h4, a {
  white-space: pre-wrap;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-background: rgb(255, 255, 255);
  --color-middle: rgb(146, 16, 16);
  --color-top: rgb(211, 132, 28);
  --color-grey1: rgb(248, 248, 248);
  --color-grey2: rgb(240, 240, 240);
  --color-grey3: rgb(175, 175, 175);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.BoxOutline {
  border: 1px;
  border-style: solid;
  border-color: var(--color-top);   
  box-shadow: 0px 1px 2px var(--color-middle);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  overflow-x: hidden;

  padding: 0px;
  
  min-width: 320px;
  min-height: 100vh;
}


img {
  z-index: 100;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}
